CompileFlags:
  Add:
    - --cuda-path=/usr/local/cuda
    - -I/usr/local/cuda/include
    - -I../include
    - -std=c++17
  Remove:
    - -Xcompiler=-Wno-attributes
    - --options-file
    - -forward-unknown-to-host-compiler
    - --generate-code*
    - -rdc*

InlayHints:
  Designators: No
  ParameterNames: Yes